.App-content {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.DayPickerInput input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-right: 10px;
}
